$color-text: #535353;
$primary-color: #1a73e8;
$secondary-color: #4a87ee;
$primary-color-text: #4a87ee;
$secondary-color-text: #4a87ee;
$primary-light-color: #e8f0fe;
body, main {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(247, 247, 247);
  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  color: $color-text;
  letter-spacing: 0.02em;
}
header {
  width: 21cm;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  font-size: 0.9em;
  padding: 10px 0;
  .mode {
    display: flex;
    align-items: center;
    margin-left: 40px;
    .switch {
      margin-left: 10px;
    }
  }
  button {
    border: none;
    background: none;
    font-size: 1.2em;
    cursor: pointer;
    color: $color-text;
    span {
      font-size: 0.8em;
      font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
    }
  }
}
.page {
  page-break-after: always;
}
@media print {
  body,
  html {
    background-color: #ffffff;
  }
}
h1,
h2,
h3,
h4, 
h5,
p {
  margin: 0;
}
a {
  color: #4a87ee;
  text-decoration: none;
}
main {
  width: 21cm;
  background: #ffffff;
  display: -webkit-box;
  flex-direction: row;
  padding: 1cm;
  margin: auto;
  section {
    flex-grow: 1;
    padding-right: 0.5cm;
    .main-data {
      h1 {
        font-weight: 500;
        font-size: 2em;
        margin-bottom: 5px;
        .profile {
          color: $primary-color-text;
          font-size: 0.8em;
        }
      }
    }
    .academic-training,
    .experience,
    .reference {
      h2 {
        font-size: 1.3em;
        font-weight: 400;
        border-bottom: 0.5px solid #b4b4b4;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 8px;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          display: -webkit-box;
          flex-direction: row;
          margin-bottom: 20px;
          .period {
            width: 120px;
            font-size: 0.9em;
          }
          .info {
            flex-grow: 1;
            h3.business {
              font-weight: 500;
              color: $primary-color-text;
              font-size: 1em;
            }
            h4.position {
              font-weight: 500;
              font-size: 0.9em;
              line-height: 2em;
            }
            p.activity {
              font-size: 0.8em;
              text-align: justify;
              b {
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
  aside {
    width: 240px;
    padding-left: 0.5cm;
    .contact,
    .skill,
    .language,
    .tool {
      h2 {
        font-size: 1.3em;
        font-weight: 400;
        border-bottom: 0.5px solid #b4b4b4;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 8px;
        &:nth-child(0) {
          padding-top: 0px;
        }
      }
      .header {
        margin: 8px 0;
        .sub-header {
          margin: auto 0 auto auto;
          width: 60%;
          display: flex;
          justify-content: space-between;
          span {
            font-size: 0.6em;
          }
        }
      }
      ul {
        list-style-type: none !important;
        padding: 0;
        li {
          font-size: 0.9em;
          line-height: 1.5em;
          margin-bottom: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          display: flex;
          .icon {
            width: 30px;
            text-align: center;
            background-color: $primary-color;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            i {
              color: #ffffff;
              font-size: 1.1em;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            line-height: 1em;
            h5 {
              font-weight: 500;
              color: $primary-color;
            }
            a {
              color: $color-text;
              font-size: 0.8em;
            }
          }
          .technology {
            font-size: 0.8em;
            flex-grow: 1;
          }
          .score {
            width: 60%;
            i {
              font-size: 0.85em;
              &.active {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
    .skill {
      ul {
        li {
          margin-bottom: 0;
        }
      }
    }
  }
}



.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: -4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0052bd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0052bd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body.dark {
  background: #0f0f0f;
  color: #c5c5c5;
  a {
    color: #0052bd;
  }
  header {
    button {
      color: #c5c5c5;
    }
  }
  main {
    background: #212121;
    .contact,
    .skill,
    .language,
    .tool {
      ul {
        li {
          .icon {
            background-color: #0052bd;
            i {
              color: #c5c5c5;
            }
          }
          .info {
            a {
              color: #c5c5c5;
            }
          }          
        }
      }
    }          
  }
}

@media (max-width: 700px) { 
  
  main {
    width: 100%;
    flex-direction: column;
    margin: 0;
    aside {
      
    }
  }

}